header {
    position: relative;
    & .nav {       
        background-color: rgb(13, 8, 8);
        padding: 20px 0;
        color: white;
        position: fixed;
        z-index: 100;
        width: 100%;
        transition: 0.3s ease;
    }
    & .nav ul {
        display: flex;
        align-items: center;
    }
    & ul li {
        padding: 0 20px
    }
    & .container {
        display: flex;
        justify-content: space-between;
    }

    & .btn {
        box-shadow: none;
        transform: translate(0);
        &:hover {
            transform: translate(-5px, -5px);        
            box-shadow: 6px 3px 3px 0 whitesmoke;
        }
    }
    & span {
        font-size: 26px;
        font-weight: 600;
    }

    & .nav.active {
        color: black;
        background-color: white;
        padding: 10px;
        & .btn {
            background-color: black;
            color:white;
            &:hover {
            box-shadow: 6px 3px 3px 0 rgba(0,0,0,0.5);
            }
        }
    }

}
body {
    color: #595879;
}

.container {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}
.btn {
    color: black;
    display: inline-block;
    padding: 10px 40px;
    background-color: white;
    transition: 0.3s ease;
}
.large-text {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center; 
    & span {
        opacity: 0;
        transform: translateY(-15px);
        display: inline-block;
        transition: 0.3s ease-in-out;
    }
    &.active span{
        transform: translateY(0);
        opacity: 1;
    }
}
.small-text {
    font-size: 15px;
    font-weight:450;
    text-align: center;
     & span {
        opacity: 0;
        transform: translateY(-15px);
        display: inline-block;
        transition: 0.3s ease-in-out;
    }
    &.active span {
        opacity: 1;
        transform: translateY(0);
    }
}

#hero {
    margin-bottom: 30px;
    & .hero-slider {
        height: 100vh;
        position: relative;
        z-index: 0;
    }
    & .content-hero {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 30%;
        & h2 {
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 10px;
            color:rgb(195, 224, 228);
        }
        & .row-text {
            display: flex;
            & p {
                color: white;
                display: inline-block;
                background-color: yellow;
                padding: 8px 10px;
                margin: 0 10px;
            }
        }
    }
    & .pictures {
        height: 100vh;
        position: absolute;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        &.active-slider {
            opacity: 1;
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: black;
            opacity: 0.3;
            position: absolute;
        } 
    }
    & .arrow {
        position: absolute;
        z-index: 10;
        top: 50%;
        font-size: 30px;
        color: white;
        font-weight: 700;
        cursor: pointer;
        &.arrow-left {
            left: 20px;
        }
        &.arrow-right {
            right: 20px;
        }
    }
}

#vision {
    padding: 50px 0;
    & p {
        line-height: 1.6;
        text-align: center;
        max-width: 450px;
        margin: 0 auto;
    }
}
#business {
    margin: 30px 0 80px;
     & .row {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        overflow: hidden;
    }

    & .col {
        width: calc(49% - 1px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 400px;
        background-color: rgb(48, 29, 29);
        color: white;
        padding: 20px;
        transition: transform  0.3s ease-in-out,
        opacity 0.5s ease;
        &:nth-child(1) , &:nth-child(2) {
            transform: translateX(250%);
            opacity: 0;
        }
        &:nth-child(3) , &:nth-child(4) {
            transform: translateX(-250%);
            opacity: 0;
        }
    }
    & .row.active .col{
        transform: translateX(0);
        opacity: 1;
    }
    & h2 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    & .service {
        font-size: 15px;
        color:rgb(224, 224, 75);
        margin-bottom: 10px;
    }
    & p {
        line-height: 1.6;
    }
}
@media screen and (max-width: 1000px) {
    #business {
        & .col {
            width: 100%;
            padding: 40px;
            transform: translateX(0) !important;
            opacity: 1 !important;
    }
}
}

#property{
    margin-bottom: 80px;
    & .zoom-image {
        width: 100%;
        height: 300px;
        vertical-align: bottom;
    }
    & .row-container {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px 20px;
    }
    & .col-picture {
        width: calc(49% - 1px);
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }
    & h2 {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    & p {
        line-height: 1.7;
    }
}

.cover-slider {
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left:0;
        right:0;
        bottom: 0;
        background-color: aliceblue;
        opacity: 1;
        z-index: 2;
    }
    &::before {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.3s ease-out;
    }
    &:hover {
        &::before {
            background-color: beige;
            opacity: 0.3;
        }
    }

}
.inview {
    transition: 0.3s ease;
    &::after {
        opacity: 1;
        animation-name: slider-image;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-duration: 1.7s;
    }
    
}

@keyframes slider-image {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
      50% {
        transform: scaleX(1);
        transform-origin: left;
    }
      50.1% {
        transform: scaleX(1);
        transform-origin: right;
    }
      100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

@media screen and (max-width: 1000px) {
    #property {
        & .row-container {
            flex-direction: column;
        }
        & .col-picture {
            width: 100%;
        }
    }
}

#contact {
    overflow: hidden;
    color: white;
    background-color: black;
    & .row-contact {
        display: flex;
        gap: 0 50px;
    }
    & .col-contact {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    & img {
        width: 600px;
    }
    & h3 {
        text-align: left;
        margin-bottom: 20px;
    }
    & h2 {
        text-align: left;
    }
    & p {
        line-height: 1.7;
        margin-bottom: 20px;
    }
    & .btn {
        margin: 0 auto ;
        display: inline-block;
        padding: 15px 20px;
        color: rgb(73 0 0);
        background-color: #E5C100;
        text-align: center;
        box-shadow: 5px 3px 3px rgb(245, 245, 7);
        font-size: 15px;
        font-weight: 440;
        transform: translate( -5px, -5px);
        &:hover {
            transform: translate(0);
            box-shadow: none;
        }
    }
}

footer {
    padding: 20px 0;
    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & nav ul {
        display: flex;
        transition: 0.3s ease;
        & li {
            margin-right: 30px;
            & a {
                transition: color 0.3s ease;
                &:hover {
                    color: black;
                }
            }
        }
    }
    & h1 {
        font-size: 28px;
        font-weight: 600;
        color: black;
        margin-bottom: 15px;
    }
}